body {background-color: #fff;margin:5px;}

ul#projectsmenu {
  background-color: rgba(0,0,0,.5);
  z-index: 1;
  position:absolute;top:0;right:0;
  margin-top:0;padding-left: 0;
  border-bottom-left-radius: 2px;
  box-shadow: -2px 2px 2px;
  li {
    list-style: none;
    text-align: center;
    font: bold 1em verdana;
    border-bottom: 1px solid rgba(196,196,196,.7);
    cursor:pointer;
    a {
      display: block;
      color:#ccc;
      &:hover {background-color: rgba(255,255,255,.5);color:#000;};
    }
    &.sel {color:yellow;border:0;}
    &.sel, a {padding:0;}
    &:last-child{border:0;};
  }

}

.equal {  
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 2em;
}

.container-fluid {
  .row {
    .hunp {height:100%;}
  }
  .panel {margin-bottom: 0;padding-bottom: 1em;}
}

fieldset {
  border:0;
  legend {
    text-align: center;
    text-transform: uppercase;
  }
  &.l {position: relative;
    #editdata {}
  }
  &#r {
    > div {
      > div {background: transparent;text-align: center;position: relative;}
      input {text-align: center;color:#000;}
      > div:nth-child(5) input {}
    }
  }

  textarea {
    height:4em;
    border: 0;
    padding: 0;
    margin: 0;
  }

}

.accsumm {
  color: white;
  text-align: center;
}

/* Editrow fieldset */
#editrow {
  line-height: 1.8em;
  border: 0;
  label {color: white;}
  input[name=date] {width:7em;display: inline;}
  input[name=descr] {width:17em;display: inline;}
  input[name=amount] {width:4em;display: inline;}
  input[name=notes] {width:30em;display: inline;}
}

/* Update button */
#editdata {

}

.transaction-detail {
  padding:.3em;
}


#btnUp {
  border-radius:.5em .5em 0 0;
  width: 10em;
}
 
#btnDown {
  border-radius:.5em .5em 0 0;
  width: 10em;
}
        
#btnAddrow, #btnDuplicate, #btnDelete, #btnTransfer {

}
  
#rowidsel {

}

        
.cellrow {
  cursor: pointer;  
}

table.table {
  thead tr {
    background: linear-gradient(rgba(255,0,0,.5),black);
    border-radius: .5em .5em 0 0;
    th {
      font-variant: small-caps;
    }
  }
  tbody tr {
    &:hover {background:rgba(0,0,100%,.5);}
  }
  height: 500px;
}
        
.hl {
  background-color: orange;
  font-weight: bold;
  border-top: 2px solid yellow;
  border-bottom: 2px solid yellow;
  padding: .4em 0;
}
 
.hl2 {
  background-color: orange;
}
 
 
form * {
  text-align: center;
}
 
input {
  border: 1px solid #ccc;
}
 
select, input[type=text] {
  border-radius: 0.5em;
}



 
#accsdiv {
  position: absolute;
  top:0;
  left:0;
  background: rgba(255,255,255,200);
  width: 950px;
  height: 500px;
  overflow: auto;
  border: 0px solid #000;
  border-radius: .4em;
  padding: 0 1em 1em 1em;
  box-shadow: 2px, 2px, 2px, 2px;
  h2 {
    text-align: center;
    color: #000;
    font-weight: bold;
  }
  table {
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: .4em;
  }
  tr {
    vertical-align: top;
    &:hover {background: yellow;}
  }
  th, td {
    padding: .3em;
    border-bottom: 1px dotted black;
  }
  a {
    display: block;
    position: fixed;
    background: red;
    width: 20px;
    left: 50%;
    top: 0;
    margin-left: 435px;
  }
  #accsdivinnertop {
    background: yellow;
    position: fixed;
    width: 950px;
    overflow: hidden;
  }
}



.negcol {color: #c00;}




/* Today col */
.todcol {background:lime;}
/* prev days col */
.prevdayscol {background:orange;}

/* prev days col */
.negcol {
  background:red;
  color: #fff;
}

#rdoBtnGroupinout {
  border: none;
  div {float: left;}
}
